body {
	height: 100%;
	background-color: black;
	padding-top: 1%;
	padding-left:1%;
}

.History {
	color: black;
	background-color: black;
	width: 100%;
	height: 500px;
}

.chat {
	background-color: red;
	width: 99%;
	height: 50px;
}

.input-in {

	height: 100%;
	width: 100%;

}

.output {

	width: 99%;
	height: 90%;
	-webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	-moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
	background-color: pink;

}
